@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif;
}

.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}



.whatsapp-pulse {
  position: fixed;
  animation: whatsapp-pulse 2s infinite;
}

@keyframes whatsapp-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.6);
    transform: scale(1);
  }
  70% {
    box-shadow: 0 0 0 16px rgba(37, 211, 102, 0);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    transform: scale(1);
  }
}
